body {
    display: flex;
    background-color: gray;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
}